{% extends 'base.html' %}
{% load static %}
{% block content_base %}
<form method="post" class='formEtapas'>
	{% csrf_token %}
	<ul id="progress">
		<li class="ativo"><label>Procedimento Clínico</label></li>
		<li><label>Procedimento Estético</label></li>
	</ul>
	<fieldset>
		<h2 class="tituloExtraGrande">Procedimento Clínico</h2>
		<p>Digite algumas informações do procedimento!</p>
		<input type="text" class="formEtapasInput" name="nomeprocedimento" placeholder="Nome do procedimento" maxlength="50" />
		<input type="text" class="formEtapasInput" name="especie" placeholder="Espécie" maxlength="50" />
		<input type="email" class="formEtapasInput dinheiro" name="preco" placeholder="Preço" maxlength="50" />
		<div class="centralizado coluna">
			<p>Tipo de Procedimento:</p>
			<select id="tipoCliente" class="formInput destacadoCimaBaixo clearMarginTop" required>
				<option value="Cirurgia">Cirurgia</option>
				<option value="Eventual">Eventual</option>
				<option value="Plano">Plano</option>
			</select>
		</div>
		<div class="centralizado">
			<input type="file" name="autorizacao" id="formEtapasFileInput" class="formEtapasFileInput esquerda destacadoCimaBaixao"  accept="image/png, image/jpeg" hidden="hidden"  multiple />		
			<button type="button" id="fileInputBtn">Escolha um arquivo</button>
			<span id="fileInputSpan">Nenhum arquivo selecionado...</span>
		</div>			
		<textarea type="texarea" class="formEtapasInput formEtapasTextArea" id="descricao" name="descricao" placeholder="Digite aqui uma descrição..." maxlength="700" ></textarea>
		<div class="containerBotoes linha centralizado">
			<input type="submit" name="next" class="next acao btnPrincipal destacadoEsquerdaDireita" value="Proximo"/>
		</div>
	</fieldset>
	<fieldset>
		<h2 class="tituloExtraGrande">Procedimento Estético</h2 class="tituloGrande">
			<p>Digite algumas informações do procedimento!</p>
			<input type="text" class="formEtapasInput" name="nomeprocedimento" placeholder="Nome do procedimento" maxlength="50" />
			<input type="email" class="formEtapasInput dinheiro" name="preco" placeholder="Preço" maxlength="50" />
			<div class="containerBotoes linha centralizado">
				<input type="submit" name="prev" class="prev acao btnPrincipal destacadoEsquerdaDireita" value="Anterior"/>
				<input type="submit" name="fim'" class="acao btnPrincipal clearMarginTop" value="Finalizar"/>
			</div>
		</fieldset>
</form>
{% endblock %}
