	{% extends 'base.html' %}
{% load static %}
{% block content_base %}

<form method="post" class='formEtapas'>
	{% csrf_token %}
	<ul id="progress">
		<li class="ativo"><label>Buscar Animal</label></li>
		<li><label>Confirmação</label></li>
		<li><label>Tipo do Serviço</label></li>
	</ul>

	<fieldset>	
		<h3 class="tituloExtraGrande">Buscar Animal</h3 class="tituloExtraGrande">
		<input type="search" class="formEtapasInput destacadoCimaBaixo clearMarginTop" name="nomeanimal" placeholder="Digite o nome do Animal..." maxlength="50">
		<input type="search" class="formEtapasInput cpf " name="cpf" placeholder="Digite o CPF do Proprietario..." maxlength="14" required>
		<div class="containerBotoes">
			<input type="submit" name="next" class="next acao btnPrincipal" value="Buscar"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Confirmar animal</h2>
		<div class="centralizado">
			<table>
				<tr>
					<th colspan="2" class="tituloTabela">Animal</th>
					<th colspan="2" class="tituloTabela">Proprietário</th>
				</tr>
				<tr>
					<th>Nome:</th>
					<td>Xuxuzinho</td>
					<th>Nome:</th>
					<td>Lucas Araujo de Oliveira</td>
				</tr>
				<tr>
					<th>Cor:</th>
					<td>Marrom</td>
					<th>Cpf:</th>
					<td>447.459.088-06</td>
				</tr>
				<tr>
					<th>Sexo:</th>
					<td>Masculino</td>
					<th>Endereço:</th>
					<td>Av. Manoel Pedro Pimentel, 465 - Pq. Continental</td>
				</tr>
				<tr>
					<th></th>
					<td></td>
					<th>Telefone:</th>
					<td>(11)9775-0209</td>
				</tr>
			</table>
		</div>
		<h2 class="tituloMedio destacadoCima">Esse é o bixinho certo?</h2>
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Não!"/>
			<input type="submit" name="next" class="next acao btnPrincipal" value="Sim!"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Tipo do serviço</h2>
		<div class="centralizado">
			<table>
				<tr>
					<th colspan="2" class="tituloTabela">Animal</th>
					<th colspan="2" class="tituloTabela">Proprietário</th>
				</tr>
				<tr>
					<th>Nome:</th>
					<td>Xuxuzinho</td>
					<th>Nome:</th>
					<td>Lucas Araujo de Oliveira</td>
				</tr>
				<tr>
					<th>Cor:</th>
					<td>Marrom</td>
					<th>Cpf:</th>
					<td>447.459.088-06</td>
				</tr>
				<tr>
					<th>Sexo:</th>
					<td>Masculino</td>
					<th>Endereço:</th>
					<td>Av. Manoel Pedro Pimentel, 465 - Pq. Continental</td>
				</tr>
				<tr>
					<th></th>
					<td></td>
					<th>Telefone:</th>
					<td>(11)9775-0209</td>
				</tr>
			</table>
		</div>

		<p class="destacadoCima">Tipo</p>	 
		<div class="centralizado">
			<div class="formEtapasRadio">
				<label class="destacadoEsquerdaDireita"><input type="radio" name="sexo" >Procedimento clínico</label>
				<label class="destacadoEsquerdaDireita"><input type="radio" name="sexo" >Procedimento estético</label>
			</div>
		</div>
		<p class="destacadoCima">Procedimento</p>	
		<div class="centralizado">
			<select class="formCombo">
				<option value="">Escolha o Procedimento...</option>
				<option value="banho">Banho</option>
				<option value="tosahigienica">Tosa Higiênica</option>
				<option value="tosaraca">Tosa Raça</option>
				<option value="tosanatesoura">Tosa na Tesoura</option>
				<option value="higieneoral">Higiêne Oral</option>
			</select>
		</div>

		<h3 class="tituloMedio direita destacadoCima">Preço atual: R$00,00</h3>
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Anterior"/>
			<input type="submit" name="next" class="next acao btnPrincipal" value="Proximo"/>
		</div>
	</fieldset>
</form>
{% endblock %}
