{% extends 'base.html' %}
{% load static %}
{% block content_base %}

<!--===========INSIRA AQUI SEU CONTEUDO===============-->
<form id="formCadastroDiagnostico" method="post" class='formEtapas'>
	{% csrf_token %}
	<ul id="progress">
		<li class="ativo"><label>Procurar Animal</label></li>
		<li><label>Tela de confirmação</label></li>
		<li><label>Diagnóstico</label></li>
		<li><label>Diagnóstico Específico</label></li>
		<li><label>Anexar Exames</label></li>
	</ul>

	<fieldset>
		<h3 class="tituloExtraGrande">Buscar Animal</h3>
		<input id="cpf_cliente_diagnostico" type="search" class="formEtapasInput cpf " name="cpf_cliente" placeholder="Digite o CPF do Proprietario..." maxlength="14" required>
		<p>Animais:</p>
		<select id="selectAnimalDiagnostico" class="formInput destacadoCimaBaixo clearMarginTop" name="id_animal" required>
			<option value=""></option>
		</select>
		<div class="containerBotoes">
			<input type="submit" name="next" class="next acao btnPrincipal" value="Buscar" id="buscarAnimalDiagnostico"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Confirmar animal</h2>
		<div class="centralizado destacadoCimaBaixo">
			<div class="imagemCardModal coluna">
				<img id="url_foto_diagnostico" src="" onerror="this.src='../../static/img/semfoto.jpeg';" alt="Imagem de Identificação do Animal">
			</div>
		</div>
		<input id="nomeAnimalDiagnostico" type="text" class="formEtapasInput" name="nome" placeholder="Nome do animal" maxlength="50" disabled/>
		<input id="racaAnimalDiagnostico" type="text" class="formEtapasInput" name="raca" placeholder="Raça" maxlength="50" disabled/>
		<input id="donoAnimalDiagnostico" type="text" class="formEtapasInput" name="dono" placeholder="Dono" maxlength="50" disabled/>
		<h2 class="tituloMedio destacadoCima">Esse é o bichinho certo?</h2>
		<div class="containerBotoes">
			<input id="btnConfirmacaoPrevDiagnostico" type="submit" name="prev" class="prev acao btnPrincipal" value="Não!"/>
			<input id="btnConfirmacaoNextDiagnostico" type="submit" name="next" class="next acao btnPrincipal" value="Sim!"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Diagnóstico</h2>
		<div id="conteudoDiagnostico">
			<!-- Conteudo inserido via AJAX -->
		</div>
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Anterior"/>
			<input type="submit" name="next" class="next acao btnPrincipal" value="Proximo"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Diagnóstico específico</h2>
		<textarea placeholder="Digite aqui seu diagnóstico..." class="formEtapasTextArea" name="diagnostico_especifico" maxlength="500"></textarea>
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Anterior"/>
			<input type="submit" name="next" class="next acao btnPrincipal" value="Proximo"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Anexar Exames</h2>
		<input type="text" class="formEtapasInput" name="nome_exame" placeholder="Nome do Exame" maxlength="50"/>
		<input type="text" class="formEtapasInput data" name="data_realizacao_exame" placeholder="Data de Realização" maxlength="50"/>
		<p>Tipo de Exame</p>
		<select id="tipoExame" class="formInput destacadoCimaBaixo clearMarginTop" name="id_tipo_exame">
			<option value=""></option>
		</select>
		<input type="file" id="file_input_diagnostico" name="exame" class="direita" accept="image/png, image/jpeg text/plain"  multiple />
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Anterior"/>
			<input id="btnDiagnosticoSalvar" type="submit" name="next" class="acao btnPrincipal" value="Salvar"/>
		</div>
	</fieldset>

</form>
<!--===========FIMM===============-->

{% endblock %}
