{% extends 'base.html' %}
{% load static %}
{% block content_base %}

					<!--===========INSIRA AQUI SEU CONTEUDO===============-->
	<div class="container">
	  <div class="row">
	    <div class="col">
	    </div>
	    <div class="col-8">
				<div class="w3-row">
					<a href="javascript:void(0)" onclick="OpenMenu(event, 'Estetico');">
						<div class=" border-orange w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Procedimento Estético</div>
					</a>
					<a href="javascript:void(0)" onclick="OpenMenu(event, 'Clinico');">
						<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Procedimento Clínico</div>
					</a>
				</div>
	    </div>
	    <div class="col">
	    </div>
	  </div>
	</div>
	<form method="post" class='formEtapas menuOpcoes' id="Estetico">
	{% csrf_token %}
		<fieldset id="estetico">
			<h2 class="tituloGrande">Procedimento Estético</h2 class="tituloGrande">
			<p>Digite algumas informações do procedimento!</p>

				<input type="text" class="formEtapasInput" 					name="descricao" 	placeholder="Descrição" maxlength="500" />
				<input type="text" class="formEtapasInput" 					name="nome" 			placeholder="Nome" 			maxlength="500" />
				<input type="text" class="formEtapasInput dinheiro" name="preco" 			placeholder="Preço" 		maxlength="500" />
				<input type="text" class="formEtapasInput" 				  name="especie" 		placeholder="Espécie" 	maxlength="500" />

				<div class="containerBotoes linha centralizado">
			        <button  class="acao btnPrincipal clearMarginTop" name="button">Cadastrar</button>
				</div>
		</fieldset>
	</form>

	<form method="post" class='formEtapas menuOpcoes' id="Clinico" style="display:none;">
	{% csrf_token %}
		<fieldset id="clinico">
			<h2 class="tituloGrande">Procedimento Clínico</h2 class="tituloGrande">
			<p>Digite algumas informações do procedimento!</p>

			<input type="text" class="formEtapasInput" 					name="descricao" 	placeholder="Descrição" maxlength="500" />
			<input type="text" class="formEtapasInput" 					name="nome" 			placeholder="Nome" 			maxlength="500" />
			<input type="text" class="formEtapasInput dinheiro" name="preco" 			placeholder="Preço" 		maxlength="500" />
			<input type="text" class="formEtapasInput" 				  name="especie" 		placeholder="Espécie" 	maxlength="500" />
			<p>Autorização:</p>
			<input type="file" class="formFileInput esquerda"   name="url_autorizacao" multiple />
			<div class="containerBotoes linha centralizado">
						<button  class="acao btnPrincipal clearMarginTop" name="button">Cadastrar</button>
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block add_js %}
    <script src="{% static 'js/cadastro_cliente.js' %}"></script>
{% endblock %}
