{% extends 'base.html' %}
{% load static %}
{% block content_base %}
<form id="sendForm" class='formEtapas'>{% csrf_token %}
	<ul id="progress">
		<li class="ativo"><label>Buscar Animal</label></li>
		<li><label>Confirmação</label></li>
		<li><label>Tipo do Serviço</label></li>
		<li><label>Funcionário</label></li>
	</ul>

	<fieldset>
		<h3 class="tituloExtraGrande">Buscar Animal</h3 class="tituloExtraGrande">
		<input type="text" class="formEtapasInput destacadoCimaBaixo clearMarginTop" id="nome_animal" name="nomeanimal" placeholder="Digite o nome do Animal..." maxlength="50">
		<input type="text" id="cpf" class="formEtapasInput cpf " name="cpf" placeholder="Digite o CPF do Proprietario..." maxlength="14" required>
		<div class="containerBotoes">
			<input type="submit" id="Buscar" name="next" class="next acao btnPrincipal" value="Buscar"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Confirmar animal</h2>
		<div class="centralizado">
			<table>
				<tr>
					<th colspan="2" class="tituloTabela">Animal</th>
					<th colspan="2" class="tituloTabela">Proprietário</th>
				</tr>
				<tr>
					<th>Nome:</th>
					<td class="nome_animal_table"></td>
					<th>Nome:</th>
					<td class="nome_cliente"></td>
				</tr>
				<tr>
					<th>Cor:</th>
					<td class="cor_animal"></td>
					<th>Cpf:</th>
					<td class="cpf_cliente"></td>
				</tr>
				<tr>
					<th>Sexo:</th>
					<td class="sexo_animal"></td>
					<th>Endereço:</th>
					<td class="logradouro"></td>
				</tr>
				<tr>
					<th></th>
					<td></td>
					<th>Telefone:</th>
					<td>(11)9775-0209</td>
				</tr>
			</table>
		</div>
		<h2 class="tituloMedio destacadoCima">Esse é o bixinho certo?</h2>
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Não!"/>
			<input type="submit" name="next" class="next acao btnPrincipal" value="Sim!"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Tipo do serviço</h2>
		<div class="centralizado">
			<table>
				<tr>
					<th colspan="2" class="tituloTabela">Animal</th>
					<th colspan="2" class="tituloTabela">Proprietário</th>
				</tr>
				<tr>
					<th >Nome:</th>
					<td class="nome_animal_table"></td>
					<th>Nome:</th>
					<td class="nome_cliente"></td>
				</tr>
				<tr>
					<th>Cor:</th>
					<td class="cor_animal"></td>
					<th>Cpf:</th>
					<td class="cpf_cliente"></td>
				</tr>
				<tr>
					<th>Sexo:</th>
					<td class="sexo_animal"></td>
					<th>Endereço:</th>
					<td class="logradouro"></td>
				</tr>
				<tr>
					<th></th>
					<td></td>
					<th>Telefone:</th>
					<td>(11)9775-0209</td>
				</tr>
			</table>
		</div>

		<p class="destacadoCima">Tipo</p>
		<div class="centralizado">
			<div class="formEtapasRadio">
				<label id="procedimento" class="destacadoEsquerdaDireita">
                    <input type="radio" value="clinico" name="procedimento" >Procedimento clínico
                    <input type="radio" value="estetico" name="procedimento" >Procedimento estético
                </label>
			</div>
		</div>
        <div class="centralizado" id="clinicoAutorizacao">

        </div>
		<p class="destacadoCima">Procedimento</p>
		<div class="centralizado">
			<select class="formCombo" id="escolherProcedimento">
				<option value="">Escolha o Procedimento...</option>
			</select>
		</div>

        <table id="procedimentoSelecionados">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Preço</td>
                    <td>link</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
		<h3 class="tituloMedio direita destacadoCima">Preço atual</h3>
        <p class="direita" id="precoTotal"></p>
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Anterior"/>
            <input type="submit" name="next" class="next acao btnPrincipal" value="Proximo"/>
		</div>
	</fieldset>

    <fieldset>
		<h3 class="tituloExtraGrande">Funcionário</h3 class="tituloExtraGrande">
        <div class="centralizado">
            <select class="formCombo" id="escolherFuncionario">
				<option value="">Escolha o Funcionário...</option>
			</select>
        </div>

        <div class="containerBotoes">
            <button class="btnPrincipal">Enviar</button>
        </div>
	</fieldset>
</form>
{% endblock %}
{% block add_js %}
    <script src="{% static 'js/cadastro_atendimento.js' %}"></script>
{% endblock %}
