{% extends 'base.html' %}
{% load static %}
{% block content_base %}


<div class="titulo destacadoCimaBaixo clearMarginTop">
		<div class="itensTitulo">
			<div class="circulo">
				<img src="{% static 'img/acompanhe_sua_clinica.png' %}" alt="{{menu.descricao}}">
			</div>
	</div>
</div>


<style media="screen">
	/* .dataTables_filter {
		display: none;
	}
	.dataTables_paginate, .paging_simple_numbers {
		display: none;
	}
	.dataTables_length {
		display: none;
	}

	.dataTables_info{
		display: none;
	} */
</style>
					<!--===========INSIRA AQUI SEU CONTEUDO===============-->
	<div class="container">
	  <div class="row">
	    <div class="col">
	    </div>
	    <div class="col-8">
				<div class="w3-row">
					<a href="javascript:void(0)" id="Clinica" onclick="OpenMenu(event, 'AcompanheSuaClinica', true);">
						<div class=" border-orange w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Acompanhe sua Clínica</div>
					</a>
					<a href="javascript:void(0)" id="Estadia" onclick="OpenMenu(event, 'AnimaisHospedados', true);">
						<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Animais Hospedados</div>
					</a>
					<a href="javascript:void(0)" id="Pagamentos" onclick="OpenMenu(event, 'PagamentosPendentes', true);">
						<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Pagamentos Pendentes</div>
					</a>
				</div>
	    </div>
	    <div class="col">
	    </div>
	  </div>
	</div>
	<!-- TABELA ACOMPANHE SUA CLINICA -->
		<table class="tabelaResponsiva menuOpcoes" id="AcompanheSuaClinica">
			<thead>
				<tr class="table100-head">
					<th class="column1">Status</th>
					<th class="column2">Bichinho</th>
					<th class="column3">Horário</th>
					<th class="colunaEscondida">Acompanhe sua Clínica</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

	<!-- TABELA ANIMAIS HOSPEDADOS -->

		<table class="tabelaResponsiva menuOpcoes" id="AnimaisHospedados" style="display:none;">
			<thead>
				<tr class="table100-head">
					<th class="column1">Status</th>
					<th class="column2">Bichinho</th>
					<th class="column3">Data Check In</th>
					<th class="column4">Data Check Out</th>
					<th class="colunaEscondida">Animais Hospedados</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<!-- TABELA PAGAMENTOS PENDENTES -->

			<table class="tabelaResponsiva menuOpcoes" id="PagamentosPendentes" style="display:none;">
				<thead>
					<tr class="table100-head">
						<th class="column1">Tipo Cliente</th>
						<th class="column2">Bichinho</th>
						<th class="column3">Valor em Aberto</th>
						<th class="column4">Último Atendimento</th>
						<th class="column5">Status</th>
						<th class="colunaEscondida">Pagamentos Pendentes</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>


{% endblock %}

{% block add_js %}
    <script src="{% static 'js/acompanhe_sua_clinica.js' %}"></script>
{% endblock %}
