{% extends 'base.html' %}
{% load static %}
{% block content_base %}


<div class="titulo destacadoCimaBaixo clearMarginTop">
	<div class="itensTitulo">
		<div class="circulo">
			<img src="../static/img/{{menu.url}}.png" alt="{{menu.descricao}}">
		</div>
	</div>
</div>

					<!--===========INSIRA AQUI SEU CONTEUDO===============-->
<form id="formcadastrocliente" class='formEtapas' enctype="multipart/form-data">
{% csrf_token %}
<fieldset>
<h2 class="tituloGrande">Dados Gerais</h2 class="tituloGrande">
<p>Digite algumas informações do cliente!</p>

		<div class="imagemCard coluna">
			<input id="cliente_url_foto" type="file" name="url_foto" class="formFileInput esquerda" accept="image/png, image/jpeg"  multiple />
		</div>


		<div class="modal fade" id="modal_{{animal.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_1Label" aria-hidden="true">

			<div class="modal-dialog" role="document">

				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="modal_Label">Cadastrar um cliente</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<div class="centralizado">
								<div class="imagemCardModal coluna">
									<img src="{{animal.url_foto}}" onerror="this.src='../../static/img/semfoto.jpeg';" class="destacadoCimaBaixo" alt="Cachorrinho 1">
									<input type="file" name="url_foto" class="formFileInput esquerda" accept="image/png, image/jpeg"  multiple />
								</div>
						</div>



						</div>
					 </div>
				</div>
			</div>


	<input type="text" class="formEtapasInput" id="nome_cli" name="nome" placeholder="Nome" maxlength="50" required/>
	<input type="text" class="formEtapasInput cpf" id="cpf_cli" name="cpf" placeholder="CPF" maxlength="50" required/>
	<input type="text" class="formEtapasInput  email" id="email_cli" name="email" placeholder="E-mail" maxlength="50" />
	<input type="text" class="formEtapasInput cep" id="cep" name="cep" placeholder="CEP" maxlength="9" onfocusout="preenche_endereco(this)" />
	<input type="text" class="formEtapasInput" id="logradouro" name="logradouro" placeholder="Logradouro" maxlength="50" />
	<input type="text" class="formEtapasInput" id="numero" name="numero" placeholder="Número" maxlength="50" onkeydown="mascara_apenas_numeros(event);" />
	<input type="text" class="formEtapasInput" id="cidade" name="cidade" placeholder="Cidade" maxlength="50" />
	<input type="text" class="formEtapasInput" id="bairro" name="bairro" placeholder="Bairro" maxlength="50" />
	<input type="text" class="formEtapasInput" id="estado" name="estado" placeholder="Estado" maxlength="50" />
	<input type="text" class="formEtapasInput" id="complemento" name="complemento" placeholder="Complemento" maxlength="100" />

	<p>Tipo de cliente</p>
	<select id="tipoCliente" class="formInput destacadoCimaBaixo clearMarginTop" name="id_tipo_cliente" required>
		<option value=""></option>
	</select>
	<div class="containerBotoes linha centralizado">
        <button  type="submit" class="acao btnPrincipal clearMarginTop" name="button">Cadastrar</button>
	</div>
</fieldset>
</form>
{% endblock %}

{% block add_js %}
    <script src="{% static 'js/cadastro_cliente.js' %}"></script>
{% endblock %}
