{% extends 'base.html' %}
{% load static %}
{% block content_base %}

					<!--===========INSIRA AQUI SEU CONTEUDO===============-->
<form method="post" class='formEtapas'>
{% csrf_token %}
<fieldset>
<h2 class="tituloGrande">Dados Gerais</h2 class="tituloGrande">
<p>Digite algumas informações do animal!</p>

	<input type="text" class="formEtapasInput" name="nome" placeholder="Nome" maxlength="50" />
	<input type="text" class="formEtapasInput cpf" name="cpf" placeholder="CPF" maxlength="50" />
	<input type="text" class="formEtapasInput  email" name="email" placeholder="Email" maxlength="50" />
	<input type="text" class="formEtapasInput cep" id="cep" name="cep" placeholder="CEP" maxlength="50" onfocusout="preenche_endereco(this)" />
	<input type="text" class="formEtapasInput" id="complemento" name="complemento" placeholder="complemento" maxlength="50" />
	<input type="text" class="formEtapasInput" id="cidade" name="cidade" placeholder="cidade" maxlength="50" />
	<input type="text" class="formEtapasInput" id="logradouro" name="logradouro" placeholder="logradouro" maxlength="50" />
	<input type="text" class="formEtapasInput" id="bairro" name="bairro" placeholder="bairro" maxlength="50" />
	<input type="text" class="formEtapasInput" id="numero" name="numero" placeholder="numero" maxlength="50" onkeydown="mascara_apenas_numeros(event);" />


	<p>Tipo de cliente</p>
	<select id="tipoCliente" class="formInput destacadoCimaBaixo clearMarginTop" name="id_tipo_cliente" required>
		<option value=""></option>
	</select>
	<div class="containerBotoes linha centralizado">
        <button  class="acao btnPrincipal clearMarginTop" name="button">Cadastrar</button>
	</div>
</fieldset>
</form>
{% endblock %}

{% block add_js %}
    <script src="{% static 'js/cadastro_cliente.js' %}"></script>
{% endblock %}
