{% extends 'base.html' %}
{% block content_base %}

<!--===========INSIRA AQUI SEU CONTEUDO===============-->
<form method="post" class='formEtapas' enctype="multipart/form-data">
{% csrf_token %}
	<ul id="progress">
		<li class="ativo"><label>Buscar Animal</label></li>
		<li><label>Cadastro</label></li>
		<li><label>Informações Complementares</label></li>
		<li><label>Observações</label></li>
		<li><label>Responsáveis</label></li>
	</ul>

	<fieldset>
		<h3 class="tituloExtraGrande">Buscar Animal</h3>
		<p>Digite o CPF do Proprietario!</p>
		<input type="text" class="formEtapasInput cpf" name="cpf_cliente" placeholder="Digite o CPF do Proprietario..." maxlength="14">
		<div class="containerBotoes">
			<input type="submit" name="next" class="next acao btnPrincipal " value="Buscar"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Dados cadastrais</h2>
		<p>Digite algumas informações do animal!</p>
		
	    <!--===========VITOR===============-->		
		<a data-toggle="modal" data-target="#modal_1{{animal.nome}}">
		<div class="imagemCard">
			<img src="{{animal.url_foto}}" onerror="this.src='../../static/img/semfoto.jpeg';" alt="Foto do {{animal.nome}} - ID: {{animal.id}}">
		</div>
		</a>

		<div class="modal fade" id="modal_1{{animal.nome}}" tabindex="-1" role="dialog" aria-labelledby="modal_1Label" aria-hidden="true">
			
			<div class="modal-dialog" role="document">
			
				<div class="modal-content">
				
					<div class="modal-header">
						<h5 class="modal-title" id="modal_1Label">Cadastrar um animal</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					
						<div class="centralizado">
							<form method="post" class='formEtapas' enctype="multipart/form-data">
								{% csrf_token %}
								<div class="imagemCardModal coluna">
									<img src="{{animal.url_foto}}" onerror="this.src='../../static/img/semfoto.jpeg';" class="destacadoCimaBaixo" alt="Cachorrinho 1">
									<input type="file" name="url_foto" class="formFileInput esquerda" accept="image/png, image/jpeg"  multiple />
								</div>
						</div>
							
							

						</div>
					 </div>
				</div>
			</div>

		<!--===========VITOR===============-->

		


		<input type="text" class="formEtapasInput" name="especie" placeholder="Especie" maxlength="50" />
		<input type="text" class="formEtapasInput" name="raca" placeholder="Raça" maxlength="50" />
		<input type="text" class="formEtapasInput" name="cor" placeholder="Cor" maxlength="50" />
		<input type="text" id="Data" class="formEtapasInput data" name="datanasc" placeholder="Data de Nascimento"/>
        <input type="text" class="formEtapasInput" name="nome" placeholder="Nome" maxlength="50" />
		<p>Sexo</p>
		<div class="formEtapasDupla">
			<div class="formEtapasRadio">
				<label><input type="radio" name="sexo" value="M" >Masculino</label>
				<label><input type="radio" name="sexo" value="F">Feminino</label>
			</div>
		</div>
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Anterior"/>
			<input type="submit" name="next" class="next acao btnPrincipal" value="Proximo"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Informações Complementares</h2>
		<p>Estamos quase lá! Se preferir, digite algumas informações complementares</p>
		<input type="text" class="formEtapasInput" name="microchip" placeholder="Microchip" maxlength="50" />
		<p>O animal está vivo?</p>
		<div class="formEtapasDupla">
			<div class="formEtapasRadio">
				<label><input type="radio" name="status_animal" value="vivo">Sim</label>
				<label><input type="radio" name="status_animal" value="morto">Não</label>
			</div>
		</div>
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Anterior"/>
			<input type="submit" name="next" class="next acao btnPrincipal" value="Proximo"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Observações</h2>
		<textarea placeholder="Digite aqui sua Observação..." class="formEtapasTextArea" name="observacao" maxlength="200"></textarea>
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Anterior"/>
			<input type="submit" name="next" class="next acao btnPrincipal" value="Proximo"/>
		</div>
	</fieldset>

	<fieldset>
		<h2 class="tituloGrande">Responsáveis</h2>
		<p>Por favor, nos diga quais os responsáveis pelo animal</p>
		<input type="search" class="formEtapasInput cpf" name="cpf_responsavel" placeholder="Digite o CPF do Responsável..."/ maxlength="14">
		<input type="text" class="formEtapasInput" name="nome_responsavel" placeholder="Nome" maxlength="50">
		<div class="containerBotoes">
			<input type="submit" name="prev" class="prev acao btnPrincipal" value="Anterior"/>
            <button name="button" class="acao btnPrincipal">Enviar</button>
		</div>

	</fieldset>

</form>
<!--===========FIMM===============-->

{% endblock %}
