{% extends 'base.html' %}
{% load static %}
{% block content_base %}
<!--===========INSIRA AQUI SEU CONTEUDO===============-->


<div class="container">
	<div class="row">
		<div class="col">
		</div>
		<div class="col-8">
			<div class="w3-row">
				<a href="javascript:void(0)" onclick="OpenMenu(event, 'FichaAnimal');">
					<div class=" border-orange w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Ficha do Animal</div>
				</a>
				<a href="javascript:void(0)" onclick="OpenMenu(event, 'Historico');">
					<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Histórico</div>
				</a>
				<a href="javascript:void(0)" onclick="OpenMenu(event, 'Exames');">
					<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Exames</div>
				</a>
			</div>
		</div>
		<div class="col">
		</div>
	</div>
</div>
<form method="post" class='formEtapas menuOpcoes' id="FichaAnimal">
	{% csrf_token %}
	<fieldset id="FichaAnimal">
		<h2 class="tituloGrande">Ficha do Animal</h2 class="tituloGrande">
			<p>Digite algumas informações do procedimento!</p>

			<div class="centralizado destacadoCimaBaixo">
				<div class="imagemCardModal coluna">
					<img src="{% static 'img/cachorro_ficha_animal.jpg' %}" alt="Cachorrinho 1">
				</div>
			</div>

			<input type="text" class="formEtapasInput" 					name="proprietario" 	 placeholder="Nome do proprietário" maxlength="50"/>
			<input type="text" class="formEtapasInput"  				name="logradouro" 		 placeholder="Logradouro" 					maxlength="50"/>
			<input type="text" class="formEtapasInput cpf" 			name="cpf" 						 placeholder="CPF" 									maxlength="14"/>
			<input type="text" class="formEtapasInput"  				name="nome_animal" 		 placeholder="Nome do Animal" 			maxlength="50"/>
			<input type="text" class="formEtapasInput"  				name="pelagem" 				 placeholder="Pelagem" 							maxlength="50"/>
			<input class="formEtapasInput data"  				name="data_nascimento" placeholder="Data de Nascimento" 		maxlength="10"/>
			<input type="text" class="formEtapasInput"  				name="sexo" 					 placeholder="Sexo" 								maxlength="1"/>
			<input type="text" class="formEtapasInput"  				name="especie" 				 placeholder="Espécie" 							maxlength="50"/>
			<input type="text" class="formEtapasInput"  				name="raca" 					 placeholder="Raça" 								maxlength="50"/>
			<h2 class="tituloMedio">Descrição</h2>
			<textarea placeholder="Digite aqui sua Descrição..." class="formEtapasTextArea" name="descricao" maxlength="500"></textarea>

		</fieldset>
	</form>

	<form method="post" class='formEtapas menuOpcoes' id="Historico" style="display:none;">
		{% csrf_token %}
		<fieldset id="Historico">
			<h2 class="tituloGrande">Histórico</h2 class="tituloGrande">
				<p>Aqui você tem a visão de todo o Histórico do animal!</p>

				<ul class="timeline">
					<li class="event" data-date="12/10">

						<h3>Vacina anti-pulga</h3>
						<p>Get here on time, it's first come first serve. Be late, get turned away.</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
						<h3>Vacina de Tétano</h3>
						<p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
						<h3>Vacina de Tétano</h3>
						<p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="15/10">
						<h3>Exame de sangue</h3>
						<p>Get ready for an exciting event, this will kick off in amazing fashion with MOP & Busta Rhymes as an opening show.</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="16/11">
						<h3>Vacina de Tétano</h3>
						<p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="12/10">
						<h3>Vacina anti-pulga</h3>
						<p>Get here on time, it's first come first serve. Be late, get turned away.</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="15/10">
						<h3>Exame de sangue</h3>
						<p>Get ready for an exciting event, this will kick off in amazing fashion with MOP & Busta Rhymes as an opening show.</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="16/11">
						<h3>Vacina de Tétano</h3>
						<p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="12/10">
						<h3>Vacina anti-pulga</h3>
						<p>Get here on time, it's first come first serve. Be late, get turned away.</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="15/10">
						<h3>Exame de sangue</h3>
						<p>Get ready for an exciting event, this will kick off in amazing fashion with MOP & Busta Rhymes as an opening show.</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="16/11">
						<h3>Vacina de Tétano</h3>
						<p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="12/10">
						<h3>Vacina anti-pulga</h3>
						<p>Get here on time, it's first come first serve. Be late, get turned away.</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="15/10">
						<h3>Exame de sangue</h3>
						<p>Get ready for an exciting event, this will kick off in amazing fashion with MOP & Busta Rhymes as an opening show.</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>
					<li class="event" data-date="16/11">
						<h3>Vacina de Tétano</h3>
						<p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>
						<button type="button" class="btnPequeno clearMarginTop" name="button">Ver mais!</button>
					</li>

				</ul>


			</fieldset>
		</form>

		<form method="post" class='formEtapas menuOpcoes' id="Exames" style="display:none;">
			{% csrf_token %}
			<fieldset id="Exames">
				<h2 class="tituloGrande">Exames</h2 class="tituloGrande">
				<p>Aqui você tem a visão de todos os Exames do animal!</p>

				<ul class="timeline">
					<li class="event" data-date="12/10">
						<h3>Exame de sangue Hospital São Luiz</h3>
						<div class="arquivo">
							<img src="{% static 'img/file.png' %}" alt="testes">
							<a href="{% static 'arquivo_teste.pdf' %}" target="_blank">Ficha do animal.pdf</a>
						</div>
						<p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>

						<h3>Raio X Clinica Pereira</h3>
						<div class="arquivo">
							<img src="{% static 'img/file.png' %}" alt="testes">
							<a href="{% static 'arquivo_teste.pdf' %}" target="_blank">Ficha do animal.pdf</a>
						</div>
						<p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>

						<h3>Fotos do tumor</h3>
						<div class="arquivo">
							<img src="{% static 'img/file.png' %}" alt="testes">
							<a href="{% static 'arquivo_teste.pdf' %}" target="_blank">Ficha do animal.pdf</a>
						</div>
						<p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>

					</li>
					<li class="event" data-date="15/10">
						<h3>Arquivo do Exame tal</h3>
						<div class="arquivo">
							<img src="{% static 'img/file.png' %}" alt="testes">
							<a href="{% static 'arquivo_teste.pdf' %}" target="_blank">Ficha do animal.pdf</a>
						</div>
						<p>Get ready for an exciting event, this will kick off in amazing fashion with MOP & Busta Rhymes as an opening show.</p>
					</li>
				</ul>
				</fieldset>
			</form>
			{% endblock %}
