{% extends 'base.html' %}
{% load static %}
{% block content_base %}


<div class="titulo destacadoCimaBaixo clearMarginTop">
	<div class="itensTitulo">
		<div class="circulo">
			<img src="{% static 'img/visualizar_animal.png' %}" alt="{{menu.descricao}}">
		</div>
	</div>
</div>


<div class="titulo">
	{% for animal in animal.object_list %}
	<div class="container centralizado ">
		<!--===========ANIMAL===============-->
		<a>
			<div class="linha esquerda cardContorno">
				<div class="imagemCard">
					<!-- alteração do caminho para imagem, para aplicar o modo dinamico ( tras a imagem com o nome do animao) Bruno 02.09.2019 -->
					<img src="{{animal.url_foto}}" onerror="this.src='../../static/img/semfoto.jpeg';" alt="Foto do {{animal.nome}} - ID: {{animal.id}}">
				</div>
				<!-- Formulario trazendo os dados de cada animal do banco de dados -->
				<div class="conteudoCard linha esquerda">
					<div class="coluna destacadoEsquerdaDireita">
						<div class="dupla">
							<label for="#" class="formLabel">Nome:</label>
							<input id="endereco" class="formInput" type="text" value="{{animal.nome}}" disabled>
						</div>
						<div class="dupla">
							<label for="#" class="formLabel">Raça:</label>
							<input id="endereco" class="formInput" type="text" value="{{animal.raca}}" disabled>
						</div>
						<div class="dupla">
							<label for="#" class="formLabel">Dono:</label>
							<input id="dono" class="formInput" type="text" value="{{animal.cpf_cliente}}" disabled>
						</div>

						<!-- BTN TEMPORARIO ATE A IMPLEMENTAÇÃO DO AJAX -->
						<button onclick="abrirModal(
						'{{ animal.id }}',
						'{{ animal.url_foto }}',
						'{{ animal.nome }}',
						'{{ animal.sexo }}',
						'{{ animal.raca }}',
						'{{ animal.cor }}',
						'{{ animal.especie }}',
						'{{ animal.datanasc }}',
						'{{ animal.observacao }}',
						'{{ animal.microchip }}',
						'{{ animal.cpf_cliente.cpf }}')" type="button" class="btnPequeno">Editar
					</button>
				</div>
			</div>
		</div>
	</a>
</div>
{%endfor%}
</div>
<!-- MODAL PARA EDITAR ANIMAL -->
<div class="modal fade" id="modalVisuAnimal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="centralizado">
					<form method="post" id="formularioVisualizaAnimal" class='formEtapas' enctype="multipart/form-data">
						{% csrf_token %}
						<div class="imagemCardModal coluna">
							<img id="url_foto_visualiza_animal" src="" onerror="this.src='../../static/img/semfoto.jpeg';" class="destacadoCimaBaixo" alt="">
							<input type="file" id="file_input_visu_animal" name="url_foto" class="formFileInput esquerda" accept="image/png, image/jpeg text/plain"  multiple />
						</div>
					</div>
					<input class="formInput" type="hidden" value="{{animal.id}}" name="id">
					<div class="dupla">
						<label for="#" class="formLabel">Nome </label>
						<input class="formInput" type="text" value="{{animal.nome}}" autofocus name="nome" required>
					</div>
					<div class="dupla">
						<label for="#" class="formLabel">Sexo</label>
						<input  class="formInput" type="text" value="{{animal.sexo}}" name="sexo">
					</div>
					<div class="dupla">
						<label for="#" class="formLabel">Raça</label>
						<input  class="formInput" type="text" value="{{animal.raca}}" name="raca" >
					</div>

					<div class="dupla">
						<label for="#" class="formLabel">Cor</label>
						<input  class="formInput" type="text" value="{{animal.cor}}" name="cor">
					</div>
					<div class="dupla">
						<label for="#" class="formLabel">Especie</label>
						<input  class="formInput" type="text" value="{{animal.especie}}" name="especie" required>
					</div>

					<div class="dupla">

						<label for="#" class="formLabel">Data de Nascimento</label>
						<input  class="formInput" type="text" value="{{animal.datanasc}}" name="datanasc">
					</div>

					<div class="dupla">
						<label for="#" class="formLabel">Observação</label>
						<input  class="formInput" type="text" value="{{animal.observacao}}" name="obs">
					</div>
					<div class="dupla">
						<label for="#" class="formLabel">Microchip</label>
						<input  class="formInput" type="text" value="{{animal.microchip}}" name="microchip">
					</div>
					<div class="dupla">
						<input  class="formInput" type="hidden" value="{{animal.cpf_cliente.cpf}}" name="cpf_cliente"  >
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="animal_btn_fechar"  type="button" class="btnSecundario" data-dismiss="modal">FECHAR</button>
				<button id="animal_btn_salvar"  name="button" value = "save" class="acao btnPrincipal clearMarginTop">SALVAR</button>
				<button id="animal_btn_deletar" name="button" value="del" class=" acao btnPrincipal btn-danger clearMarginTop">DELETAR</button>
			</div>
		</div>
	</div>
</div>


<!--===========PAGINAÇÃO===============-->
{% if animal.has_other_pages %}
<div class="centralizado destacadoCimaBaixo">
	<nav aria-label="...">
		<ul class="pagination">
			{% if animal.has_previous %}
			<li class="page-item">
				<a class="page-link" href="?page={{ animal.previous_page_number }}">Anterior</a>
			</li>
			{% endif %}
			{% for page in animal.paginator.page_range %}
			{% if animal.number == page %}
			<li class="page-item" id="paginationActive">
				<a class="page-link" href="#">{{ page }}</a>
			</li>
			{% else %}
			<li class="page-item">
				<a class="page-link" href="?page={{ page }}">{{ page }}</a>
			</li>
			{% endif %}
			{% endfor %}

			{% if animal.has_next %}
			<li class="page-item">
				<a class="page-link" href="?page={{ animal.next_page_number }}">Próxima</a>
			</li>
			{% else %}
			{% endif %}
		</ul>
	</nav>
</div>
{% endif %}
{% endblock %}
