{% extends 'base.html' %}
{% load static %}
{% block content_base %}
<div class="titulo">
{%for animais in animal%}
	<div class="container esquerda ">	
		<!--===========ANIMAL===============-->
		<a data-toggle="modal" data-target="#modal_1{{animais.nome}}">
			<div class="linha esquerda cardContorno">
				<div class="imagemCard">
			<!--		<img src="{% static 'img/cachorro_ficha_animal.jpg' %}" alt="Cachorrinho 1" -->
			<!-- alteração do caminho para imagem, para aplicar o modo dinamico ( tras a imagem com o nome do animao) Bruno 02.09.2019 -->
					<img src="../../static/img/{{animais.nome}}.jpg" alt="Cachorrinho 1">
				</div>
<!-- Formulario trazendo os dados de cada animal do banco de dados -->
			<div class="conteudoCard linha esquerda">
					<div class="coluna destacadoEsquerdaDireita">
						<div class="dupla">
							<label for="#" class="formLabel">Nome:</label>
							<input id="endereco" class="formInput" type="text" value="{{animais.nome}}" disabled>
						</div>
						<div class="dupla">
							<label for="#" class="formLabel">Raça:</label>
							<input id="endereco" class="formInput" type="text" value="{{animais.raca}}" disabled>
						</div>
					<div class="dupla">
							<label for="#" class="formLabel">dono:</label>
							<input id="endereco" class="formInput" type="text" value="{{animais.cpf_cliente}}" disabled>
						</div>
					</div>
					<div class="coluna destacadoEsquerdaDireita">
					
					
					</div>
				</div>
			</div>
			<div class="containerBotoes centralizado linha">
			</div>
		</a>

		<!-- Modal -->
		<!-- Modal consultando dados do banco Bruno 02.09.2018-->
		<div class="modal fade" id="modal_1{{animais.nome}}" tabindex="-1" role="dialog" aria-labelledby="modal_1Label" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal_1Label">Cadastrar um animal</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
				<div class="centralizado">
					<div class="imagemCardModal coluna">
						<img src="../../static/img/{{animais.nome}}.jpg" class="destacadoCimaBaixo" alt="Cachorrinho 1">
						<input type="file" name="arquivos" class="formFileInput esquerda"  accept="image/png, image/jpeg"  multiple />
					</div>
				</div>
				<div class="dupla">
					<label for="#" class="formLabel">Nome </label>
					<input disabled class="formInput" type="text" value="{{animais.nome}}" autofocus name="nome" required>
				</div>
				<div class="dupla">
					<label for="#" class="formLabel">Sexo</label>
					<input disabled class="formInput" type="text" value="{{animais.sexo}}" name="sexo" required>
				</div>
				<div class="dupla">
					<label for="#" class="formLabel">Raça</label>
					<input disabled class="formInput" type="text" value="{{animais.raca}}" name="raca" required>
				</div>

				<div class="dupla">
					<label for="#" class="formLabel">Cor</label>
					<input disabled class="formInput" type="text" value="{{animais.cor}}" name="cor" required>
				</div>
				<div class="dupla">
					<label for="#" class="formLabel">Especie</label>
					<input disabled class="formInput" type="text" value="{{animais.especie}}" name="especie" required>
				</div>

				<div class="dupla">

					<label for="#" class="formLabel">Data de Nascimento</label>
					<input disabled class="formInput" type="text" value="{{animais.datanasc}}" name="datanasc" required>
				</div>

				<div class="dupla">
					<label for="#" class="formLabel">Observação</label>
					<input disabled class="formInput" type="text" value="{{animais.observacao}}" name="obs" required>
				</div>
				<div class="dupla">
					<label for="#" class="formLabel">Microchip</label>
					<input disabled class="formInput" type="text" value="{{animais.microchip}}" name="microchip" required>
				</div>



					</div>
					<div class="modal-footer">
						<button type="button" class="btnSecundario clearMarginTop" data-dismiss="modal">Fechar</button>
						<button type="button" class="btnPrincipal clearMarginTop" onclick="habilitaCampos();">Editar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endfor%}

		
		<!--===========PAGINAÇÃO===============-->

	<div class="centralizado destacadoCimaBaixo">
		<nav aria-label="...">
			<ul class="pagination">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Anterior</a>
				</li>
				<li class="page-item" id="paginationActive">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2 </a>
				</li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Próxima</a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock %}
