{% extends 'base.html' %}
{% load static %}
{% block content_base %}
<div class="titulo">
	{% for animais in animal.object_list %}
	<div class="container esquerda ">
		<!--===========ANIMAL===============-->
		<a data-toggle="modal" data-target="#modal_1{{animais.nome}}">
			<div class="linha esquerda cardContorno">
				<div class="imagemCard">
					<!--		<img src="{% static 'img/cachorro_ficha_animal.jpg' %}" alt="Cachorrinho 1" -->
					<!-- alteração do caminho para imagem, para aplicar o modo dinamico ( tras a imagem com o nome do animao) Bruno 02.09.2019 -->
					<img src="../../static/img/{{animais.nome}}.jpg" onerror="this.src='../../static/img/semfoto.jpeg';"  alt="Cachorrinho 1">
				</div>
				<!-- Formulario trazendo os dados de cada animal do banco de dados -->
				<div class="conteudoCard linha esquerda">
					<div class="coluna destacadoEsquerdaDireita">
						<div class="dupla">
							<label for="#" class="formLabel">Nome:</label>
							<input id="endereco" class="formInput" type="text" value="{{animais.nome}}" disabled>
						</div>
						<div class="dupla">
							<label for="#" class="formLabel">Raça:</label>
							<input id="endereco" class="formInput" type="text" value="{{animais.raca}}" disabled>
						</div>
						<div class="dupla">
							<label for="#" class="formLabel">Dono:</label>
							<input id="dono" class="formInput" type="text" value="{{animais.cpf_cliente}}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="containerBotoes centralizado linha">
			</div>
		</a>
		<!-- Modal -->
		<!-- consultando dados do banco Bruno 02.09.2018-->
		<div class="modal fade" id="modal_1{{animais.nome}}" tabindex="-1" role="dialog" aria-labelledby="modal_1Label" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal_1Label">Cadastrar um animal</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="centralizado">
							<form method="post" class='formEtapas'>
								{% csrf_token %}
								<div class="imagemCardModal coluna">
									<img src="../../static/img/{{animais.nome}}.jpg" onerror="this.src='../../static/img/semfoto.jpeg';" class="destacadoCimaBaixo" alt="Cachorrinho 1">
									<input type="file" name="arquivos" class="formFileInput esquerda"  accept="image/png, image/jpeg"  multiple />
								</div>
							</div>
							<div class="dupla">
								<label for="#" class="formLabel">Nome </label>
								<input  class="formInput" type="text" value="{{animais.nome}}" autofocus name="nome" required>
							</div>
							<div class="dupla">
								<label for="#" class="formLabel">Sexo</label>
								<input  class="formInput" type="text" value="{{animais.sexo}}" name="sexo" required>
							</div>
							<div class="dupla">
								<label for="#" class="formLabel">Raça</label>
								<input  class="formInput" type="text" value="{{animais.raca}}" name="raca" required>
							</div>

							<div class="dupla">
								<label for="#" class="formLabel">Cor</label>
								<input  class="formInput" type="text" value="{{animais.cor}}" name="cor" required>
							</div>
							<div class="dupla">
								<label for="#" class="formLabel">Especie</label>
								<input  class="formInput" type="text" value="{{animais.especie}}" name="especie" required>
							</div>

							<div class="dupla">

								<label for="#" class="formLabel">Data de Nascimento</label>
								<input  class="formInput" type="text" value="{{animais.datanasc}}" name="datanasc" required>
							</div>

							<div class="dupla">
								<label for="#" class="formLabel">Observação</label>
								<input  class="formInput" type="text" value="{{animais.observacao}}" name="obs" required>
							</div>
							<div class="dupla">
								<label for="#" class="formLabel">Microchip</label>
								<input  class="formInput" type="text" value="{{animais.microchip}}" name="microchip" required>
							</div>
							<div class="dupla">
								<input  class="formInput" type="hidden" value="{{animais.cpf_cliente.cpf}}" name="cpf_cliente"  >
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btnSecundario clearMarginTop" data-dismiss="modal">Fechar</button>
							<button name="button" value = "save" class="acao btnPrincipal clearMarginTop">SALVAR</button>

							 <button name="button" value="del" class=" acao btnPrincipal btn-danger clearMarginTop">Deletar</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{%endfor%}


	<!--===========PAGINAÇÃO===============-->
{% if animal.has_other_pages %}
	<div class="centralizado destacadoCimaBaixo">
		<nav aria-label="...">
			<ul class="pagination">
				{% if animal.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{ animal.previous_page_number }}">Anterior</a>
					</li>
				{% endif %}
				{% for page in animal.paginator.page_range %}
					{% if animal.number == page %}
						<li class="page-item" id="paginationActive">
							<a class="page-link" href="#">{{ page }}</a>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page }}">{{ page }}</a>
						</li>
					{% endif %}
				{% endfor %}

				{% if animal.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ animal.next_page_number }}">Próxima</a>
				</li>
				{% else %}
				{% endif %}
			</ul>
		</nav>
	</div>
	{% endif %}
{% endblock %}
