{% extends 'base_imports.html' %}
{% load static %}
{% block content %}
<main class="main">
<div id="menuLateral">
<div class="menuLateralPerfil">
	<img class="perfilImg" src="{% static 'img/perfil.png'%}" alt="teste">
	<h3 class="tituloExtraGrande">Pricila Santos</h3 class="tituloExtraGrande">
	</div>
	<div class="menuLateralItens">
		<button  class="item" type="button" data-toggle="collapse" data-target="#submenuCalendarioDeVacinas" aria-expanded="false" aria-controls="collapseExample"><img src="{% static 'img/1.png" alt="calendario"><h5><a href ="#">Calendário de vacinas</a></h5></button>
		<div class="submenu collapse" id="submenuCalendarioDeVacinas">
			<div class="subItem">
				<img src="img/2.png" alt="ficha">
				<h5><a href ="#">Ficha animal</a></h5>
			</div>
			<div class="subItem">
				<img src="img/2.png" alt="ficha">
				<h5><a href ="#">Ficha animal</a></h5>
			</div>
			<div class="subItem">
				<img src="img/2.png" alt="ficha">
				<h5><a href ="#">Ficha animal</a></h5>
			</div>
		</div>



		<div class="item"><img src="img/2.png" alt="ficha">		<h5><a href ="#">Ficha animal</a></h5></div>
		<div class="item"><img src="img/3.png" alt="mala">		<h5><a href ="#">Acompanhe sua clínica</a></h5></div>
		<div class="item"><img src="img/4.png" alt="coracao">	<h5><a href ="#">Diagnóstico de animais</a></h5></div>
		<div class="item"><img src="img/5.png" alt="pata">		<h5><a href ="#">Cadastre um novo animal</a></h5></div>
		<div class="item"><img src="img/6.png" alt="aviso">		<h5><a href ="#">Avisos de vacinas</a></h5></div>
		<div class="item"><img src="img/7.png" alt="agenda">	<h5><a href ="#">Agenda de procedimentos</a></h5></div>
		<div class="item"><img src="img/8.png" alt="hotel">		<h5><a href ="#">Hospede um animal</a></h5></div>
		<div class="item"><img src="img/9.png" alt="tesoura">	<h5><a href ="#">Cadastro de serviços</a></h5></div>
	</div>
</div>

<div class="conteudo">
	<input type="checkbox" id="navicon">
	<div class="nav-toggle">
		<label for="navicon" class="hamburger" onclick="menuSlide();">
			<span></span>
			<span></span>
			<span></span>
		</label>
	</div>
	<div class="titulo">
		<div class="itensTitulo">
			<div class="circulo">
				<img src="img/5.png" alt="Imagem Animal">
			</div>
		</div>
	</div>

				{% block content_base %}
				<!--===========INSIRA AQUI SEU CONTEUDO===============-->


				<!--===========FIMM===============-->
				{% endblock %}

			</div>
		</main>
{% endblock %}
