<!DOCTYPE html>
<html lang="pt-br">
{% load static from staticfiles %}
<head>
	<meta charset="UTF-8">
	<title>ControlaPet - ##Titulo##</title>
	<!--=========reset============-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--=========CSS============-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/Header_Footer.css'%">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Hamburguer_Menu.css'%">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Style.css'%">
	<link rel="icon" href="{% static 'img/logoControlaPet.png'%}" type="image/x-icon" >
	<!--=========Calendario============-->
	<link  href="{% static 'css/calendar/fullcalendar.min.css'%}" rel='stylesheet' />
	<link  href="{% static 'css/calendar/fullcalendar.print.min.css'%}" rel='stylesheet' media='print' />
	<script src="{% static 'js/calendar/lib/moment.min.js'%}" ></script>
	<script src="{% static 'js/calendar/lib/jquery.min.js'%}" ></script>
	<script src="{% static 'js/calendar/fullcalendar.min.js'%}" ></script>
	<script src="{% static 'js/calendar/locale/pt-br.js'%}" ></script>
	<script src="{% static 'js/calendar/calendario1.js'%}" ></script>
	<script src="{% static 'js/calendar/calendario2.js'%}" ></script>
	<!--=========BOOTSTRAP============-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<!--=========JQUERY============-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1/jquery-ui.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1/jquery-ui.structure.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1/jquery-ui.structure.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1/jquery-ui.theme.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1/jquery-ui.theme.min.css'%}">
</head>
<body>
	<header>
		<a href="index.html"><img src="{% static 'img/logocontrolapetwhite.png'%}" class="logoHeader" alt="Controla Pet"></a>
	</header>

	<main class="main">
		<div id="menuLateral">
			<div class="menuLateralPerfil">
				<img class="perfilImg" src="{% static 'img/perfil.png'%}" alt="teste">
				<h3 class="tituloExtraGrande">#nome#</h3 class="tituloExtraGrande">
				</div>
				<div class="menuLateralItens">
					<button  class="item" type="button" data-toggle="collapse" data-target="#submenuCalendarioDeVacinas" aria-expanded="false" aria-controls="collapseExample"><img src="{% static 'img/1.png'%}" alt="calendario"><h5><a href ="#">#Menu#</a></h5></button>
					<div class="submenu collapse" id="submenuCalendarioDeVacinas">
						<div class="subItem">
							<img src="img/2.png" alt="ficha">
							<h5><a href ="#">Ficha animal</a></h5>
						</div>
						<div class="subItem">
							<img src="img/2.png" alt="ficha">
							<h5><a href ="#">Ficha animal</a></h5>
						</div>
						<div class="subItem">
							<img src="img/2.png" alt="ficha">
							<h5><a href ="#">Ficha animal</a></h5>
						</div>
					</div>
				</div>
			</div>

			<div class="conteudo">
				<input type="checkbox" id="navicon">
				<div class="nav-toggle">
					<label for="navicon" class="hamburger" onclick="menuSlide();">
						<span></span>
						<span></span>
						<span></span>
					</label>
				</div>
				<div class="titulo">
					<div class="itensTitulo">
						<div class="circulo">
							<img src="{% static 'img/5.png'%}" alt="Imagem Animal">
							<h2>#Titulo#</h2>
						</div>
					</div>
				</div>

				<!--===========INSIRA AQUI SEU CONTEUDO===============-->

				{% block content %}
				
				{% endblock %}
				

				<!--===========FIMM===============-->

			</div>
		</main>

		<footer>
			<small>Controla Pet © 2018 Todos Diretos reservados. Termos e Uso e Política de Privacidade</small>
		</footer>		
		<!--=========SWEETALERT============-->

		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

		<!--=========BOOTSTRAP/JQUERY============-->

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


		<!--=========JS============-->
		<script src="{% static 'js/Hamburguer.js'%}"></script>
		<script src="{% static 'js/Mascara_Validacao.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/Geral.js'%}"></script>

	</body>
	</html>
