{% extends 'base_imports.html' %}
{% load static %}
{% block content %}
		<header>
			 <img src="{% static 'img/logocontrolapetwhite.png' %}"  class="logoHeader" alt="Controla Pet">
		</header>
		<main class="main">
			<div id="menuLateral">
				<div class="menuLateralPerfil">
					<img class="perfilImg" src="{% static 'img/perfil.png' %}" alt="teste">
					<h3 class="tituloExtraGrande">Pricila Santos</h3 class="tituloExtraGrande">
				</div>
				<div class="menuLateralItens">
					<button  class="item" type="button" data-toggle="collapse" data-target="#submenuCalendarioDeVacinas" aria-expanded="false" aria-controls="collapseExample"><img src="{% static 'img/1.png' %}" alt="calendario"><h5><a href ="#">Calendário de vacinas</a></h5></button>
					<div class="submenu collapse" id="submenuCalendarioDeVacinas">
						<div class="subMenuItem">
							<img src="{% static 'img/2.png' %}" alt="ficha">
							<h5><a href ="#">Ficha animal</a></h5>
						</div>
						<div class="subMenuItem">
							<img src="{% static 'img/2.png' %}" alt="ficha">
							<h5><a href ="#">Ficha animal</a></h5>
						</div>
						<div class="subMenuItem">
							<img src="{% static 'img/2.png' %}" alt="ficha">
							<h5><a href ="#">Ficha animal</a></h5>
						</div>
					</div>
				</div>
			</div>

			<div class="conteudo">
				<input type="checkbox" id="navicon">
				<div class="nav-toggle">
					<label for="navicon" class="hamburger" onclick="menuSlide();">
						<span></span>
						<span></span>
						<span></span>
					</label>
				</div>
				<div class="titulo destacadoCimaBaixo clearMarginTop">
					<div class="itensTitulo">
						<div class="circulo">
							<img src="{% static 'img/5.png' %}" alt="pata">
						</div>
						<h2>Base</h2>
					</div>
				</div>

				{% block content_base %}
				<!--===========INSIRA AQUI SEU CONTEUDO===============-->


				<!--===========FIMM===============-->
				{% endblock %}

			</div>
		</main>
		<footer>
			<small>Controla Pet © 2018 Todos Diretos reservados. Termos e Uso e Política de Privacidade</small>
		</footer>
{% endblock %}
