	<!DOCTYPE html>
	<html lang="pt-br">
	{% load static %}
	<head>
		<meta charset="UTF-8">
		<title>ControlaPet</title>
		<!--=========reset============-->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--=========CSS============-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/header_footer.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/hamburguer_menu.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/w3-css.css' %}">
		<link rel="icon" href="{% static 'img/logocontrolapetwhite.png' %}" type="image/x-icon">
		<!--=========BOOTSTRAP============-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<!--=========JQUERY============-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1/jquery-ui.min.css' %}">
	</head>
	<body>

		{% block content %}
		<!--===========INSIRA AQUI SEU CONTEUDO===============-->


		<!--===========FIMM===============-->
		{% endblock %}

		<!--=========BOOTSTRAP/JQUERY============-->

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

		<!--=========JS============-->
		<script type="text/javascript" src="{% static 'js/hamburguer_menu.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/mascara_validacao.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/geral.js' %}"></script>

		{% block add_js %}
		{% endblock %}

	</body>
	</html>
