{% extends 'base_imports_calendar.html' %}
{% load static %}
{% block content %}

    <header>
         <img src="{% static 'img/logocontrolapetwhite.png' %}" class="logoHeader">
                 {% if user.is_authenticated %}
                 <div class="logout">
                   <a href="{% url 'logout' %}">Sair</a>
                 </div>
                 {% endif %}
    </header>
    <main class="main">
    <div id="menuLateral">
        <div class="menuLateralPerfil coluna">
            <img class="perfilImg" src="{% static 'img/perfil.png' %}" alt="teste">
            <h3 class="tituloExtraGrande">{{usuario_nome}}</h3>
        </div>
        <button  class="item" type="button" data-toggle="collapse" data-target="#submenuAdministreSuaClinica" aria-expanded="false" aria-controls="collapseExample"><img src="{% static 'img/admin_clinica.png' %}" alt="calendario"><h5>Administre sua clínica</h5></button>
        <div class="submenu collapse" id="submenuAdministreSuaClinica">
            <div class="subMenuItem">
                <img src="{% static 'img/cadastro_procedimento.png' %}" alt="ficha">
                <h5><a href ="{% url 'cadastro_procedimento' %}">Cadastro de procedimento</a></h5>
            </div>
            <div class="subMenuItem">
                <img src="{% static 'img/acompanhe.png' %}" alt="prancheta">
                <h5><a href ="{% url 'acompanhe_sua_clinica' %}">Acompanhe sua clínica</a></h5>
            </div>
        </div>
        <button  class="item" type="button" data-toggle="collapse" data-target="#submenuAgenda" aria-expanded="false" aria-controls="collapseExample"><img src="{% static 'img/agenda.png' %}" alt="Agenda"><h5>Agenda</h5></button>
        <div class="submenu collapse" id="submenuAgenda">
            <div class="subMenuItem">
                <img src="{% static 'img/calendar.png' %}" alt="Calendario">
                <h5><a href ="{% url 'index' %}">Calendário</a></h5>
            </div>
        </div>
        <button  class="item" type="button" data-toggle="collapse" data-target="#submenuCadastro" aria-expanded="false" aria-controls="collapseExample"><img src="{% static 'img/cadastro.png' %}" alt="Cadastro"><h5>Cadastro</h5></button>
        <div class="submenu collapse" id="submenuCadastro">
            <div class="subMenuItem">
                <img src="{% static 'img/cadastrar_animal.png' %}" alt="Cadastrar Animal">
                <h5><a href ="{% url 'cadastrar_animal' %}">Cadastro de animal</a></h5>
            </div>
            <div class="subMenuItem">
                <img src="{% static 'img/cadastrar_cliente.png' %}" alt="Cadastrar Cliente">
                <h5><a href ="{% url 'cadastrar_cliente' %}">Cadastro de cliente</a></h5>
            </div>
            <div class="subMenuItem">
                <img src="{% static 'img/cadastrar_estadia.png' %}" alt="Cadastrar Estadia">
                <h5><a href ="{% url 'cadastro_estadia' %}">Cadastro de estadia</a></h5>
            </div>
        </div>
        <button  class="item" type="button" data-toggle="collapse" data-target="#submenuConsulta" aria-expanded="false" aria-controls="collapseExample"><img src="{% static 'img/consulta.png' %}" alt="Consulta"><h5>Consulta</h5></button>

        <div class="submenu collapse" id="submenuConsulta">
            <div class="subMenuItem">
                <img src="{% static 'img/visualiza_animal.png' %}" alt="visualiza Animal">
                <h5><a href ="{% url 'visualizar_animal' %}">Visualizar animal</a></h5>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <input type="checkbox" id="navicon">
        <div class="nav-toggle">
            <label for="navicon" class="hamburger" onclick="menuSlide();">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="titulo destacadoCimaBaixo clearMarginTop">
            <div class="itensTitulo">
                <div class="circulo">
                    <img src="{% static 'img/{{menu_atual.url}}.png' %}" alt="">
                </div>
            </div>
        </div>
			{% block content_base %}
			<!--===========INSIRA AQUI SEU CONTEUDO===============-->


			<!--===========FIMM===============-->
			{% endblock %}

		</div>
	</main>
	<footer>
		<small>Controla Pet © 2018 Todos Diretos reservados. Termos e Uso e Política de Privacidade</small>
	</footer>
{% endblock %}
