{% extends 'base.html' %}
{% load static %}
{% block content_base %}

					<!--===========INSIRA AQUI SEU CONTEUDO===============-->
<form id="formcadastroFuncionario" class='formEtapas' enctype="multipart/form-data">
{% csrf_token %}
<fieldset>
	<h2 class="tituloGrande">Dados Gerais</h2 class="tituloGrande">
	<p>Digite algumas informações do funcionário!</p>

	<input type="text" class="formEtapasInput" 		id="primeiro_nome" name="primeiro_nome" placeholder="Primeiro nome" maxlength="50" />
	<input type="text" class="formEtapasInput" 		id="ultimo_nome" name="ultimo_nome" placeholder="Último nome" maxlength="20" />
	<input type="text" class="formEtapasInput" 		id="apelido"   name="apelido"   placeholder="Apelido" maxlength="50"/>
	<input type="text" class="formEtapasInput cpf"id="cpf" 	     name="cpf" 		  placeholder="CPF" maxlength="14"/>
	<input type="date" class="formEtapasInput" 		id="data_nasc" name="data_nasc" placeholder="Data de nascimento" maxlength="20" />

	<p>Cargo</p>
	<select id="cargos" class="formInput destacadoCimaBaixo clearMarginTop" name="id_cargo" required>
		<option value=""></option>
	</select>

	<p>Situação</p>
	<select id="situacao" class="formInput destacadoCimaBaixo clearMarginTop" name="situacao" required>
		<option value="Ativo">Ativo</option>
		<option value="Inativo">Inativo</option>
	</select>

	<p>Utilizará o sistema?</p>
	<select id="equipe_sistema" class="formInput destacadoCimaBaixo clearMarginTop" name="equipe_sistema" required>
		<option value="1">Sim</option>
		<option value="0">Não</option>
	</select>
	<div class="containerBotoes linha centralizado">
    <button  type="submit" class="acao btnPrincipal clearMarginTop" name="button">Cadastrar</button>
	</div>
</fieldset>
</form>
{% endblock %}

{% block add_js %}
    <script src="{% static 'js/usuarios.js' %}"></script>
{% endblock %}
