{% extends 'base_login_esqueci_senha.html' %}
{% block content_base %}
	<form class="centralizado coluna" method="post">
		{% csrf_token %}
		<div class="formularioLoginEsqueciSenha">
			<h1 class="tituloExtraGrande">Esqueceu a senha?</h1>
			<p class="tituloPequeno">Digite seu e-mail abaixo:</p>
			<div class="dupla">
				<label class="formLabel">E-mail:</label>
				<input class="formInput" name="email"  type="email"  placeholder="Digite seu email..." maxlength="100" autofocus required>
			</div>
			<div class="containerBotoes centralizado linha">
				<button class="btnPrincipal" type="submit">Pronto!</button>
			</div>
		</div>
	</form>
{% endblock %}
