{% extends 'base_imports.html' %}
{% block content %}
<form class="centralizado coluna telaTamanhoFixo" method="post">
			<div class="formulario">
				<h1 class="tituloGrande">Seja Bem Vindo!</h1>
				<p class="tituloPequeno">Digite seus dados abaixo.</p>

				<div class="dupla">
					<label class="formLabel">Usuário:</label>
					<input id class="formInput" name="usuario"  placeholder="Digite seu usuário..." maxlength="100" autofocus required>
				</div>
				<div class="dupla">
					<label class="formLabel">Senha:</label>
					<input class="formInput" name="senha" type="password" placeholder="Digite sua senha..." maxlength="100" required>
				</div>
				<div class="containerBotoes centralizado coluna">
					<a href="index.html" class="btnPrincipal">Entrar</a>



					<a class="" href="esqueceu_senha.html">Esqueceu a senha?</a>
				</div>
			</div>

		</form>

{% endblock %}
