*{
	margin: 0px;
	padding: 0px;
	/*font-family: ;*/
}
.nav-toggle{
	display: none!important;
}
header{
	width: 100%;
	height: 80px;
	background-color: #ff6600 ;
	display: flex!important;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
}
.logoHeader{
    margin-left: 20px;
    width: 60px;
}
#menuLateral{
	width: 300px;
	height: auto;
	background-color: #f2f2f2 ;
    -webkit-transition:  .3s; /* Safari */
    transition:  .3s;
}
.perfilImg{
	width: 100px;
	height: 100px;
}
.menuLateralPerfil{
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.menuLateralPerfil h3{
	font-size: 18px;
}
.item, .subMenuItem{
	width: 100%;
	height: 70px;
	padding: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
  	background-color: transparent ;
    border-style: none;
    border-color: transparent;
    border-image: unset;
    padding: 10px;
    border: 0px;


}

.item a, .subMenuItem a{

	text-decoration: none;
	color: black;

}
.item a:hover, .subMenuItem a:hover{

	text-decoration: underline;
	color: black;


}
.item img, .subMenuItem img{
	grid-column-start: 1;
	margin-right: 10px;
	width:24px;
	cursor: pointer;
}
.item h5, .subMenuItem h5{
	font-size: 16px;
	text-align: start;
	grid-column-start: 2;
}
.subMenuItem{
	height: 50px;
	padding-left: 30px;
	background-color: #868686 ;
}
.main{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	width: 100%;
	height: auto;
}
.conteudo{
	width: 100%;
	padding: 20px 50px;
	height: auto;
}
.tituloHeader{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.itensTitulo{
	width: 100%;
	height: 60px;
	padding: 0!important;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 50px 20px;
	z-index: 90;
	border-bottom: 1.5px solid #ff6600;
}
.itensTitulo h2{
	font-size: 27px;
	margin: 0!important;
}
.circulo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -10px;
	z-index: 100;
	width: 50px;
	height: 50px;
	border-radius: 300px;
	border:1.5px solid #ff6600;
	background-color: #fff;
}
.circulo img{
	width:32px;
	height:27px;
}
footer{
	border-top:1px solid #ff6600;
	color: #fff;
	width: 100%;
	height: 50px;
	background-color: #212529;
}
small{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



@media (min-width: 1301px){
	#menuLateral{
		margin-left:0px!important;
	}
}
@media (max-width: 1300px){
	#menuLateral{
		margin-left:-290px;
		position: absolute;
		z-index: 100;
		width: 250px;
	}
	.hamburger{
		float: right;
	}
	.nav-toggle{
		display: flex!important;
		justify-content: flex-end;
		align-items: flex-start;
		padding: 0!important;
	}
	.conteudo{
		padding: 30px;
	}
	.item h5, .subMenuItem h5{
		font-size: 14px;
	}
	.perfilImg{
		width: 70px;
		height: 70px;
	}
}
@media (max-width: 1000px){
	.item h5, .subMenuItem h5{
		font-size: 12px;
	}
	.menuLateralPerfil h3{
		font-size: 15px;
	}
	.itensTitulo h2 {
		font-size: 24px;
	}
}
@media (max-width: 500px){
	footer{
		font-size: .8em;
	}
	.circulo{
		width:40px;
		height:40px;
	}
	.circulo img{
		width:25px;
		height:25px;
	}
	.itensTitulo h2{
		font-size: 20px;
	}
}
@media (max-width: 500px){
	footer{
		font-size: .6em;
	}
}
